[phases.setup]
nixPkgs = ["python312", "ffmpeg", "ffmpeg-full", "libsndfile", "gcc", "gfortran"]

[phases.install]
cmds = [
  "pip install --upgrade pip setuptools wheel",
  "pip install --no-cache-dir -r requirements.txt"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
